:root {
  --dark: #374450;
  --light: #fff;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}

/* made the container for header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: var(--dark);
  color: var(--light);
}

header h1 {
  box-sizing: border-box;
  background-color: #86d8d8;
  color: black;
}

/* calling the nav to order links in a row by justifying content!*/
nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

/* changed the color of the nav links  */
nav a {
  color: #86d8d8;
  font-weight: bold;
}

/* added hover so that changes the nav color when curoser is hovering  */
nav a:hover {
  color: var(--light);
}

/* added the herobackground and targeted the img HT */
.hero-background img {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
  position: relative;

}

/* this adds the box to the cool subtitle here */
.hero-background div {
  display: flex;
  flex-wrap: wrap;
  align-items: space;
  position: absolute;
  float: right;
  right: -75%;
  top: 800px;
  background-color: #86d8d8;
  padding: 10px;
  margin-right: 81%;
}

/* added the inline block */
.aboutMe h2{
  position: relative;
  width: 100px;
  text-align: right;
  margin-left: 10%;
  display:inline-block;
  border-right: 4px solid blue;
  min-height: 100px;
  font-size: 36px;
  padding-right: 30px;

}
/* tackling the paragraph and moving it  */
.aboutMe p{
  position: relative;
  margin-left: 20%;
  margin-top: -8%;
}
/* creating the boxes  */
.projects-grid-wrapper {
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.projects-grid {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.project {
    border: solid;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

.project:hover {
    opacity: 1.0;
}
.Surf-Report {
    grid-column: 1/3;
    grid-row: span 2;
  < SRC="./assets/images/coffeeBackground.jpg" alt="background" />
}

.LEDWall {
    background-image: url("../Assets/images/coffeecup.jpg");
    background-position: 50% 15%;
}

.Calculator {
    background-image: url("../Assets/images/drinks.jpg");
    background-position: 60% 50%;
}

.PastelPuzzels {
    background-image: url("../Assets/images/coffee puck.jpg");
}

.RunBuddy {
    background-image: url("../Assets/images/latte art.jpg");
}






    
    