:root {
  --dark: #374450;
  --light: #fff;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}

/* made the container for header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: var(--dark);
  color: var(--light);
}

header h1 {
  box-sizing: border-box;
  background-color: #86d8d8;
  color: black;
}

/* calling the nav to order links in a row by justifying content!*/
nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

/* changed the color of the nav links  */
nav a {
  color: #86d8d8;
  font-weight: bold;
}

/* added hover so that changes the nav color when curoser is hovering  */
nav a:hover {
  color: var(--light);
}

/* added the herobackground and targeted the img HT */
.hero-background img {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
  position: relative;

}

/* this adds the box to the cool subtitle here */
.hero-background div {
  display: flex;
  flex-wrap: wrap;
  align-items: space;
  position: absolute;
  float: right;
  right: -75%;
  top: 800px;
  background-color: #86d8d8;
  padding: 10px;
  margin-right: 81%;
}
.title {
  border-right: 5px solid var(--dark);
  min-height: 100%;
  text-align: right;
  padding-right: 40px;
  min-width: 20%;
  max-width: 20%;
}

/* added the inline block */
.aboutMe h2{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 30px;

}
/* tackling the paragraph and moving it  */
.aboutMe p{
  font-size: 20px;
  padding: 0 30px;
  line-height: 1.6;
  width: 90%;
}
/* creating the boxes  */
.projects-grid-wrapper {
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.projects-grid {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.project {
    border: solid;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

.project:hover {
    opacity: 1.0;
}
.work{
  padding: 30px 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--dark);
}
/* adding the photos to show up */
.Surf-Report {
    grid-column: 1/3;
    grid-row: span 2;
    height: 600px;
    width:80%;  
   
}

.LEDWall {
 background-position: 50% 15% ;
  height: 600px;
  width:80%; 
}

.Calculator {
  background-position: 60% 50%;
  height: 600px;
  width:80%; 
}

.PastelPuzzels {
 
  height: 600px;
  width:80%; 
}

.RunBuddy {
 
  height: 600px;
  width:80%; 
}






    
    